$font-color: white;
$font-color-a-in-article: #0d9af1;
$bg-color-a-hover: #33a2aa;
$bg-color-nav: #5f5f5f;
$bg-color-footer:#0d9af1;
$box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.16), 0px 2px 10px 0px rgba(0,0,0,0.12);

@mixin center {
    margin-left: auto;
    margin-right: auto;
}

*{
    Margin: 0;
    Padding: 0;
}

html, body {
    height: 100%;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

a {
    color: $font-color;
    text-decoration: none;
}

nav {
    background-color: $bg-color-nav; 
    box-shadow: $box-shadow;
    position: fixed;
    width: 100%;

    a {
        display: block;
        padding: 20px;
    }

    ul {
        display: flex;
        margin: 0;

        li {
            list-style: none;
        }

        li a:hover {
            background-color:$bg-color-a-hover;
            color: $font-color;
            text-decoration: none;
        }
        
        li:hover > ul {
            box-shadow: $box-shadow;
            visibility: visible;
        }
    }
}

.show-menu {
    color: $font-color;
    display: none;
    padding: 20px;
    text-align: center;
}

#menu, .sub-menu {
    z-index: 1;
}

.sub-menu {
    background-color: $bg-color-nav;
    display: flex;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked ~ .menu-hauptmenue-container {
    display: block;
}

#menu.scroll {
    position: fixed;
    width: 100%;
}

#breadcrumbs {
    background-color: $bg-color-nav;
    margin-bottom: 20px;
    position: initial;

    ol {
        display: flex;

        li {
            list-style: none;

            a {
                line-height: 32px;
                padding: 0px;
                padding-left: 30px;
                padding-right: 36px;
            }
    
            a:after {
                background: $bg-color-nav;
                content: '';
                position: absolute;
                width: 32px;
                height: 32px;
                transform: scale(0.707) rotate(45deg);
                margin-left: 20px;
            }
    
            a:hover {
                background-color: $bg-color-a-hover;
            }
    
            a.active:after, a:hover:after {
                background-color: #33a2aa;
            }
        }     
    }    
}

#breadcrumbs ol li:last-child a:after {
    content: none;
}

.active {
    background-color: $bg-color-a-hover;
    color: white;
    display: block;
    line-height: 32px;
    padding-left: 30px;
	padding-right: 36px;
}

#wrapper {
    @include center();
    width: 90%;
    min-height: 100%;
    padding-top: 100px;
}

.article {
    box-shadow: $box-shadow;
    @include center();
    margin-bottom: 20px;
    width: 80%;
    min-height: 100%;
    padding: 40px;

    h1 {
        margin-bottom: 16px;
    }

    p {
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: justify;

        a {
            color: $font-color-a-in-article;
        }
    }

    ul {
        margin-top: 5px;
        margin-left: 20px;
        margin-bottom: 5px;
    }
}

#btnToTheTop {
    background-color: #5f5f5f;
    border: none;
    box-shadow: $box-shadow;
    bottom: 100px;
    color: white;
    cursor: pointer;
    display: none;
    outline: none;
    padding: 20px;
    position: fixed;
    right: 40px;
}

#btnToTheTop:hover {
    background-color: #33a2aa;
} 

footer {
    background-color: $bg-color-footer;
    box-shadow: $box-shadow;
    bottom: 0px;
    color: $font-color;
    text-align: center;

    p {
        float: left;
        margin: 0;
        padding: 20px;
    }
}

#wrapperFooter{
    display: inline-block;
}

@media (max-width: 600px) {

    .show-menu {
        display:block;
    }

    .menu-hauptmenue-container {
        display: none;
    }

    nav ul {
        flex-direction: column;
        
        li:hover > ul {
            position: static;
        } 
    }

    #menu {
        text-align: center;
    }
    
    .sub-menu {
        width: 100%;
        
        li {
            float: left;
        }
    }
  }